body{
  background: #e7e7e7;
}
h1{
  font-size: 3rem;
  line-height: 1.2;
  text-align: center;
  color: rgb(0, 0, 0);
}
.container{
  background: white;
  padding: 1.2rem;
  width: 90vw;
  margin: 8rem auto;
  max-width: 35rem;
  border-radius: 0.5rem;
}
.form-control{
  display: flex;
  justify-content: center;
}
.form-group{

}
.text-input{
  padding: 0.25rem;
  font-size: 1.2rem;
  background: lightcyan;
  flex: 1 0 auto;
}
.submit-btn{
  background-color: purple;
  color: white;
  font-weight: 800;
  cursor: pointer;
  border:transparent;
  font-size: 1.2rem;
}
.list-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5rem;
  padding: 0.25rem 1rem;
  background-color: #dfdfdf;
  border-radius: 00.5rem;
  font-size: 1.2rem;
}
.alert{
  margin-bottom:1.5rem ;
  height: 1.25rem;
  padding: 0.25rem 1rem;
  border-radius: 00.25rem;
}
.alert.error{
  background: red;
  color: white;
}
.alert.success{
  background: green;
  color: white;
}

.btn{
  font-size: 1.2rem;
  margin-left: 0.8rem;
  cursor: pointer;
}